# Exercise 1 -  Sakila Star Schema & ETL  

All the database tables in this demo are based on public database samples and transformations
- `Sakila` is a sample database created by `MySql` [Link](https://video.udacity-data.com/topher/2021/August/61120e06_pagila-3nf/pagila-3nf.png)
- The postgresql version of it is called `Pagila` [Link](https://github.com/devrimgunduz/pagila)
- The facts and dimension tables design is based on O'Reilly's public dimensional modelling tutorial schema [Link](https://video.udacity-data.com/topher/2021/August/61120d38_pagila-star/pagila-star.png)

# STEP0: Using ipython-sql

- Load ipython-sql: `%load_ext sql`

- To execute SQL queries you write one of the following atop of your cell: 
    - `%sql`
        - For a one-liner SQL query
        - You can access a python var using `$`    
    - `%%sql`
        - For a multi-line SQL query
        - You can **NOT** access a python var using `$`


- Running a connection string like:
`postgresql://postgres:postgres@db:5432/pagila` connects to the database

# STEP1 : Connect to the local database where Pagila is loaded

##  1.1 Create the pagila db and fill it with data
- Adding `"!"` at the beginning of a jupyter cell runs a command in a shell, i.e. we are not running python code but we are running the `createdb` and `psql` postgresql commmand-line utilities

In [ ]:
!sudo service postgresql start 9.5
!sudo -u postgres psql -p 5432 -c "CREATE USER student WITH PASSWORD 'student';"
!sudo -u postgres psql -p 5432 -c "ALTER USER student WITH SUPERUSER;"
!sudo -u postgres psql -p 5432 -c "CREATE DATABASE pagila OWNER student;"
!sudo -u postgres psql -p 5432 -U student -d pagila -f Data/pagila-schema.sql
!sudo -u postgres psql -p 5432 -U student -d pagila -f Data/pagila-data.sql

## 1.2 Connect to the newly created db

In [1]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%load_ext sql

In [ ]:
DB_ENDPOINT = "localhost"
DB = "postgres"
DB_USER = "postgres"
DB_PASSWORD = "123456"
DB_PORT = "5432"

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}".format(
    DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB
)

print(conn_string)

postgresql://postgres:123456@localhost:5432/postgres

In [9]:
%sql $conn_string

# STEP2 : Explore the  3NF Schema

<img src="./pagila-3nf.png" width="50%"/>

## 2.1 How much? What data sizes are we looking at?

In [11]:
nStores = %sql select count(*) from store;
nFilms = %sql select count(*) from film;
nCustomers = %sql select count(*) from customer;
nRentals = %sql select count(*) from rental;
nPayment = %sql select count(*) from payment;
nStaff = %sql select count(*) from staff;
nCity = %sql select count(*) from city;
nCountry = %sql select count(*) from country;

print("nFilms\t\t=", nFilms[0][0])
print("nCustomers\t=", nCustomers[0][0])
print("nRentals\t=", nRentals[0][0])
print("nPayment\t=", nPayment[0][0])
print("nStaff\t\t=", nStaff[0][0])
print("nStores\t\t=", nStores[0][0])
print("nCities\t\t=", nCity[0][0])
print("nCountry\t\t=", nCountry[0][0])

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
nFilms		= 1000
nCustomers	= 599
nRentals	= 16044
nPayment	= 16049
nStaff		= 1500
nStores		= 500
nCities		= 600
nCountry		= 109

## 2.2 When? What time period are we talking about?

In [12]:
%%sql 
select min(payment_date) as start, max(payment_date) as end from payment;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(datetime.datetime(2022, 1, 23, 13, 3, 52, 212496, tzinfo=datetime.timezone.utc), datetime.datetime(2022, 7, 27, 10, 39, 20, 739759, tzinfo=datetime.timezone.utc))]

## 2.3 Where? Where do events in this database occur?
TODO: Write a query that displays the number of addresses by district in the address table. Limit the table to the top 10 districts. Your results should match the table below.

In [18]:
%%sql 
select address.district, count(*) n
from address
group by address.district
order by n desc
limit 10

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('Buenos Aires', 10),
 ('Shandong', 9),
 ('California', 9),
 ('West Bengali', 9),
 ('Uttar Pradesh', 8),
 ('So Paulo', 8),
 ('England', 7),
 ('Maharashtra', 7),
 ('Southern Tagalog', 6),
 ('Gois', 5)]

<div class="p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-OutputArea-output jp-OutputArea-executeResult" data-mime-type="text/html"><table>
    <tbody><tr>
        <th>district</th>
        <th>n</th>
    </tr>
    <tr>
        <td>Buenos Aires</td>
        <td>10</td>
    </tr>
    <tr>
        <td>California</td>
        <td>9</td>
    </tr>
    <tr>
        <td>Shandong</td>
        <td>9</td>
    </tr>
    <tr>
        <td>West Bengali</td>
        <td>9</td>
    </tr>
    <tr>
        <td>So Paulo</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Uttar Pradesh</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Maharashtra</td>
        <td>7</td>
    </tr>
    <tr>
        <td>England</td>
        <td>7</td>
    </tr>
    <tr>
        <td>Southern Tagalog</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Punjab</td>
        <td>5</td>
    </tr>
</tbody></table></div>