# STEP 6: Repeat the computation from the facts & dimension table

Note: You will not have to write any code in this notebook. It's purely to illustrate the performance difference between Star and 3NF schemas.

Start by running the code in the cell below to connect to the database.

In [1]:
!sudo service postgresql start 9.5
!sudo -u postgres psql -p 5432 -c "CREATE USER student WITH PASSWORD 'student';"
!sudo -u postgres psql -p 5432 -c "ALTER USER student WITH SUPERUSER;"
!sudo -u postgres psql -p 5432 -c "CREATE DATABASE pagila_star OWNER student;"
!sudo -u postgres psql -p 5432 -U student -d pagila_star -f Data/pagila-star.sql

 set_config
------------

(1 row)

 setval
--------
    200
(1 row)

 setval
--------
    605
(1 row)

 setval
--------
     16
(1 row)

 setval
--------
    600
(1 row)

 setval
--------
    109
(1 row)

 setval
--------
    599
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
  16049
(1 row)

 setval
--------
   1000
(1 row)

 setval
--------
   4581
(1 row)

 setval
--------
      6
(1 row)

 setval
--------
  32098
(1 row)

 setval
--------
  16049
(1 row)

 setval
--------
      2
(1 row)

 setval
--------
      2
(1 row)

In [4]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%load_ext sql

DB_ENDPOINT = "localhost"
DB = "postgres"
DB_USER = "postgres"
DB_PASSWORD = "123456"
DB_PORT = "5432"

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}".format(
    DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB
)

print(conn_string)
%sql $conn_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
postgresql://postgres:123456@localhost:5432/postgres

## 6.1 Facts Table has all the needed dimensions, no need for deep joins

In [5]:
%%time
%%sql
SELECT movie_key, date_key, customer_key, sales_amount
FROM factSales 
limit 5;

 * postgresql://postgres:***@localhost:5432/postgres
5 rows affected.
CPU times: user 3.1 ms, sys: 442 μs, total: 3.54 ms
Wall time: 4.09 ms

## 6.2 Join fact table with dimensions to replace keys with attributes

As you run each cell, pay attention to the time that is printed. Which schema do you think will run faster?

##### Star Schema

In [6]:
%%time
%%sql
SELECT dimMovie.title, dimDate.month, dimCustomer.city, sum(sales_amount) as revenue
FROM factSales 
JOIN dimMovie    on (dimMovie.movie_key      = factSales.movie_key)
JOIN dimDate     on (dimDate.date_key         = factSales.date_key)
JOIN dimCustomer on (dimCustomer.customer_key = factSales.customer_key)
group by (dimMovie.title, dimDate.month, dimCustomer.city)
order by dimMovie.title, dimDate.month, dimCustomer.city, revenue desc;

 * postgresql://postgres:***@localhost:5432/postgres
16015 rows affected.
CPU times: user 33.4 ms, sys: 612 μs, total: 34 ms
Wall time: 61.8 ms

##### 3NF Schema

In [7]:
%%time
%%sql
SELECT f.title, EXTRACT(month FROM p.payment_date) as month, ci.city, sum(p.amount) as revenue
FROM payment p
JOIN rental r    ON ( p.rental_id = r.rental_id )
JOIN inventory i ON ( r.inventory_id = i.inventory_id )
JOIN film f ON ( i.film_id = f.film_id)
JOIN customer c  ON ( p.customer_id = c.customer_id )
JOIN address a ON ( c.address_id = a.address_id )
JOIN city ci ON ( a.city_id = ci.city_id )
group by (f.title, month, ci.city)
order by f.title, month, ci.city, revenue desc;

 * postgresql://postgres:***@localhost:5432/postgres
16015 rows affected.
CPU times: user 0 ns, sys: 10.1 ms, total: 10.1 ms
Wall time: 53.9 ms

# Conclusion

We were able to show that:
* The star schema is easier to understand and write queries against.
* Queries with a star schema are more performant.